.hero {
  position: relative;
  height: 100vh;
  width: 100vw; /* muy importante */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 0 1rem;
  max-width: 90%;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  background: #d4af37;
  color: black;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background: #ffd700;
}
